@using System.Configuration
@model codevist.Blockchain.Demo.Models.BlockModel


<h3>Peer A</h3>
 <div class="row row-horizon">
            <div class="col-md-7">
                <div class="form-horizontal">

                    <div class="well blockChainPeerA_1">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blok Id:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input type="text" value="1" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonce Değeri:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nonce, new { @class = "form-control", id = "blockChainNoncePeerA_1", @onkeyup = "updateHashPeerA(1)", @Value = "20303" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Veri:</label>
                            <div class="col-sm-10">

                                @Html.TextAreaFor(m => m.Data, new { @class = "form-control ", @rows = 6, id = "blockChainDataPeerA_1", @onkeyup = "updateHashPeerA(1)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Önceki Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainPrevPeerA_1" type="text" value="0000000000000000000000000000000000000000000000000000000000000000" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainHashPeerA_1" value="000089fdc74b16a6ba1cd6b1b45ebb2090debbb7487cc8f354a382f9c4f2b9fd" type="text" disabled="disabled" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <button id="blockChainPeerACalculateHash1" type="button" class="btn ">Mine (Hesapla)</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="form-horizontal">
                    <div class="well blockChainPeerA_2">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blok Id:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input type="text" value="2" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonce Değeri:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nonce, new { @class = "form-control", id = "blockChainNoncePeerA_2", @onkeyup = "updateHashPeerA(2)", @Value = "6695" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Veri:</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Data, new { @class = "form-control", @rows = 6, id = "blockChainDataPeerA_2", @onkeyup = "updateHashPeerA(2)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Önceki Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainPrevPeerA_2" type="text" value="000089fdc74b16a6ba1cd6b1b45ebb2090debbb7487cc8f354a382f9c4f2b9fd" disabled="disabled" class="form-control blockChain2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainHashPeerA_2" type="text" value="0000e0a7933f8ec2e2e0f5aaf4c503c4ade8fe412a0659b7a68ac05aee58fac6" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <button id="blockChainPeerACalculateHash2" type="button" class="btn green">Mine (Hesapla)</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-7">
                <div class="form-horizontal">
                    <div class="well blockChainPeerA_3">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blok Id:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input type="text" value="3" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonce Değeri:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nonce, new { @class = "form-control", id = "blockChainNoncePeerA_3", @onkeyup = "updateHashPeerA(3)", @Value = "73670" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Veri:</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Data, new { @class = "form-control", @rows = 6, id = "blockChainDataPeerA_3", @onkeyup = "updateHashPeerA(3)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Önceki Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainPrevPeerA_3" type="text" value="0000e0a7933f8ec2e2e0f5aaf4c503c4ade8fe412a0659b7a68ac05aee58fac6" disabled="disabled" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainHashPeerA_3" type="text" value="00003d9be52618e2ee92fd9fe155334b1b681c7613afb4df45031749f302c458" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <button id="blockChainPeerACalculateHash3" type="button" class="btn green">Mine (Hesapla)</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="form-horizontal">
                    <div class="well blockChainPeerA_4">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blok Id:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input type="text" value="4" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonce Değeri:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nonce, new { @class = "form-control", id = "blockChainNoncePeerA_4", @onkeyup = "updateHashPeerA(4)", @Value = "118819" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Veri:</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Data, new { @class = "form-control", @rows = 6, id = "blockChainDataPeerA_4", @onkeyup = "updateHashPeerA(4)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Önceki Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainPrevPeerA_4" type="text" value="00003d9be52618e2ee92fd9fe155334b1b681c7613afb4df45031749f302c458" disabled="disabled" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainHashPeerA_4" type="text" value="00007030233bfd95a943983db8e9bae79c43df5218e7d799718477637b4f6866" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <button id="blockChainPeerACalculateHash4" type="button" class="btn green">Mine (Hesapla)</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="form-horizontal">
                    <div class="well blockChainPeerA_5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blok Id:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">#</span>
                                    <input type="text" value="5" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nonce Değeri:</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Nonce, new { @class = "form-control", id = "blockChainNoncePeerA_5", @onkeyup = "updateHashPeerA(5)", @Value = "106009" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Veri:</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Data, new { @class = "form-control", @rows = 6, id = "blockChainDataPeerA_5", @onkeyup = "updateHashPeerA(5)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Önceki Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainPrevPeerA_5" value="00007030233bfd95a943983db8e9bae79c43df5218e7d799718477637b4f6866" type="text" disabled="disabled" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Hash:</label>
                            <div class="col-sm-10">
                                <input id="blockChainHashPeerA_5" value="0000968d9cfda2cac612baa6cde2a82bf32af9a37b7fa1b713a2ef05d0dc7756" type="text" disabled="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <button id="blockChainPeerACalculateHash5" type="button" class="btn green">Mine (Hesapla)</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
        $(document).ready(function () {
            for (var i = 0; i < 6; i++) {
                $(".blockChainPeerA_"+i).addClass("well-success");
                $(".blockChain1PeerA_"+i).removeClass("well-warning");
            }
        });
        function blockUI() {
            App.blockUI({
                target: '#blockBody',
                animate: true
            });
            return true;
        };
        $('#blockChainPeerACalculateHash1').click(function () {
            blockUI();
            var formData = {
                Data: $('#blockChainDataPeerA_1').val(),
                Prev: $('#blockChainPrevPeerA_1').val()
            }
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReturnBlockChainCalculatedHashNonceAndPrev", "Home")',
                    data: formData,
                    datatype: "JSON"
                })
                .success(function (data) {
                    $('#blockChainHashPeerA_1').val(data.Hash);
                    $('#blockChainPrevPeerA_2').val(data.Hash);
                    $('#blockChainNoncePeerA_1').val(data.Nonce);
                    App.unblockUI('#blockBody');
                    $(".blockChainPeerA_1").addClass("well-success");
                    $(".blockChainPeerA_1").removeClass("well-warning");

                })
                .error(function(xhr, status) {
                    alert('Hata Oluştu');
                    App.unblockUI('#blockBody');

                });
        });

        $('#blockChainPeerACalculateHash2').click(function () {
            blockUI();
            var formData = {
                Data: $('#blockChainDataPeerA_2').val(),
                Prev: $('#blockChainPrevPeerA_2').val()
            }
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReturnBlockChainCalculatedHashNonceAndPrev", "Home")',
                    data: formData,
                    datatype: "JSON"
                })
                .success(function (data) {
                    $('#blockChainHashPeerA_2').val(data.Hash);
                    $('#blockChainPrevPeerA_3').val(data.Hash);
                    $('#blockChainNoncePeerA_2').val(data.Nonce);
                    App.unblockUI('#blockBody');
                    $(".blockChainPeerA_2").addClass("well-success");
                    $(".blockChainPeerA_2").removeClass("well-warning");
                })
                .error(function (xhr, status) {
                    alert('Hata Oluştu');
                    App.unblockUI('#blockBody');

                });
        });
        $('#blockChainPeerACalculateHash3').click(function () {
            blockUI();
            var formData = {
                Data: $('#blockChainDataPeerA_3').val(),
                Prev: $('#blockChainPrevPeerA_3').val()
            }
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReturnBlockChainCalculatedHashNonceAndPrev", "Home")',
                    data: formData,
                    datatype: "JSON"
                })
                .success(function (data) {
                    $('#blockChainHashPeerA_3').val(data.Hash);
                    $('#blockChainPrevPeerA_4').val(data.Hash);
                    $('#blockChainNoncePeerA_3').val(data.Nonce);
                    App.unblockUI('#blockBody');
                    $(".blockChainPeerA_3").addClass("well-success");
                    $(".blockChainPeerA_3").removeClass("well-warning");
                })
                .error(function (xhr, status) {
                    alert('Hata Oluştu');
                    App.unblockUI('#blockBody');

                });
        });
        $('#blockChainPeerACalculateHash4').click(function () {
            blockUI();
            var formData = {
                Data: $('#blockChainDataPeerA_4').val(),
                Prev: $('#blockChainPrevPeerA_4').val()
            }
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReturnBlockChainCalculatedHashNonceAndPrev", "Home")',
                    data: formData,
                    datatype: "JSON"
                })
                .success(function (data) {
                    $('#blockChainHashPeerA_4').val(data.Hash);
                    $('#blockChainPrevPeerA_5').val(data.Hash);
                    $('#blockChainNoncePeerA_4').val(data.Nonce);
                    App.unblockUI('#blockBody');
                    $(".blockChainPeerA_4").addClass("well-success");
                    $(".blockChainPeerA_4").removeClass("well-warning");
                }).error(function (xhr, status) {
                    alert('Hata Oluştu');
                    App.unblockUI('#blockBody');
                });
        });
        $('#blockChainPeerACalculateHash5').click(function () {
            blockUI();
            var formData = {
                Data: $('#blockChainDataPeerA_5').val(),
                Prev: $('#blockChainPrevPeerA_5').val()
            }
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("ReturnBlockChainCalculatedHashNonceAndPrev", "Home")',
                    data: formData,
                    datatype: "JSON"
                })
                .success(function (data) {
                    $('#blockChainHashPeerA_5').val(data.Hash);
                    $('#blockChainNoncePeerA_5').val(data.Nonce);
                    App.unblockUI('#blockBody');
                    $(".blockChainPeerA_5").addClass("well-success");
                    $(".blockChainPeerA_5").removeClass("well-warning");
                })
                .error(function (xhr, status) {
                    alert('Hata Oluştu');
                    App.unblockUI('#blockBody');
                });
        });
        var hash;
        var difficultyLevel=@ConfigurationManager.AppSettings["DifficultyLevel"];
        var zeros = "";
        for (i = 0; i < difficultyLevel; i++) {
            zeros += "0";
        }

        function updateHashPeerA(updateId) {
            hash = Sha256.hash($('#blockChainDataPeerA_' + updateId).val() + $('#blockChainPrevPeerA_' + updateId).val() + $('#blockChainNoncePeerA_' + updateId).val());

            if (hash.substring(0, difficultyLevel) === zeros) {
                $(".blockChainPeerA_" + updateId).addClass("well-success");
                $(".blockChainPeerA_" + updateId).removeClass("well-warning");
            }
            else {
                $(".blockChainPeerA_" + updateId).removeClass("well-success");
                $(".blockChainPeerA_" + updateId).addClass("well-warning");
            }
            $('#blockChainHashPeerA_' + updateId).val(hash);
            $('#blockChainPrevPeerA_' + (updateId + 1)).val(hash);
            if (updateId < 5) {
                updateHashPeerA(updateId + 1);
            }
        }
</script>
